@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
   
}
html
{
    height: 100%;
    overflow-y: scroll;
}
body
{
    font-family: 'Montserrat', sans-serif;
    background-color: blue;
    color: white;
    min-height: 100%;
    padding-bottom: 20px;
    border: 1px solid  transparent;
}
.main1
{
    width:100%;
    background-position: center;
    background-size:cover ;
    height:auto;
}
.menubar ui li
    {
        display: flex;
       
    }
    .nav{
        background: transparent;
        width: 100%; 
        position: fixed;
        top:0;
        bottom: 15rem;
        z-index: 11;
        height: 100px;
        margin-bottom: 5000px;
    }    
    .header-content{
        flex:1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0px;
        margin-bottom: 55px;
    }
    .nav
    {
        background-color:rgb(5, 5, 171);
        height: 60px;
    
    }
    .links
    {
        display: flex;
        gap:35px;
        margin-left: 180px;
        padding-right: 150px;
        font-weight:800;
        font: 1em;
        margin-top: 25px;
        font-size: medium;
        font-family:'Montserrat', sans-serif; ;
       
    }
    .menu{
        display: flex;
        top:13rem;
        height:4rem;
        align-items: center;
        justify-content:space-between;
        display: flex;
        gap: 0px;
        
    }


.icon
{
    width:200px;
    float:left;
    height:70px;
}
.logo
{
    color: white;
    font-size: 28px;
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 20px;
    float:left;
    padding-top: 10px; 
}

.contact{
   
    min-height:87vh ;
    padding:50px  100px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: blue;
    color:white;
    background-position: center;
   
 
}
.menu-links a:hover
{
   color: brown;
   text-decoration: none;
}

.header-content{
    flex:1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    margin-bottom: 55px;
}
.container
{
    background-color:blue;
    margin-top: 0px;
}

