*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
}
body
{
    font-family: 'Montserrat', sans-serif;
    background-color:rgb(5, 5, 171);
    color: white;
}
.container
{
    width: 80%;
    margin: 0 auto;
}
section
{
    padding: 6rem 0;
}
section h2
{
    text-align: center;
}
h1,h2,h3,h4,h5
{
    line-height: 1.3;
}
a
{
    color: white;
}
img
{
    width: 100%;
    display: block;
    object-fit: cover;
}
.btn
{
    display: inline-block;
    background: white;
    color: black;
    padding: 1rem 2rem;

}
.btn:hover
{
    color:white;
}
.btn-primary
{
    background: red;
    color: white;
}
nav
{
    background: transparent;
    width: 100%;
    height:75px;
    position: fixed;
    top:0;
    z-index: 11;
}
.nav__container
{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav button
{
    display: none;
}
.nav__menubar
{
    display: flex;
    gap: 25px;
}
.nav__menubar a
{
    transition: all 300ms ease;
}
.nav__menubar a:hover
{
    color:brown;
}
header
{
    position: relative;
    top: 5rem;
    overflow:hidden;
    height:70vh ;
    margin-bottom:5rem ;
}
.header__container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}
.categories
{
    background: bg1;
}
.categories h1{
    line-height: 1;
    margin-bottom: 3rem;
}
.categories__container
{
    display: grid;
    grid-template-columns:40% 60% ;
    gap: 4rem;
}
.categories__left p{
    margin: 1rem 0 3rem;
}
.categories__right{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.2rem;
}
.category{
    background:#3dcaca ;
    padding: 2rem;
    border-radius: 2rem;
    transition: all 300ms ease;
}
.category:hover{
    box-shadow: 0 3rem 3rem blue;
}
.category__icon
{
    background:cornflowerblue ;
    border-radius: 0.9rem;
    padding: 0.5rem;
    color: black;
}
.category h5{
    margin: 2rem 0 1rem;
}
.category p{
    font-size: 0.85rem;
}
.window-scroll
{
    background: palevioletred;   
}
.courses
{
    margin-top: 1rem ;
}
.courses__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2rem;
   
}
.course{
    background: blue;
    text-align: center;
    border: 1px solid transparent;
    transition: all 300ms ease;
}
.course:hover{
    background: transparent;
    border-color: blue;
}
.course__img
{
  margin-top: 2rem;
}
.courses__info
{
    padding: 2rem;
}
.courses__info p{
    margin: 1.2rem 0 2rem;
    font-size: 0.92rem;
}
.faqs{
    box-shadow:inset 0 0 3rem black ;
}
.faqs__container{
    display: grid;
   
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.faq{
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    cursor:pointer;
    background:blue ;
}
.faq h4{
    font-size: 1rem;
    line-height: 2.2;
}
.faq__icon{
    align-self: flex-start;
    font-size: 1.2rem;
}
.faq p
{
    margin-top: 0.8rem;
    display: none;
}
.faq open p{
    display: block;
}
footer{
    background: blue;
    padding-top: 5rem;
    height: 13rem;
}
.footer__container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:5rem;
}
.footer__container>div h4{
    margin-bottom: 1.2rem;
}
footer ul li{
    margin-bottom: 0.7rem;
}
footer ul li:hover{
    text-decoration: underline;
}
.footer__copyright
{
    text-align: center;
   
}